{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-title" data-aos="fade">
  <div class="container position-relative">
    <h1>Denúncia Enviada com Sucesso!</h1>
    <p>Sua denúncia foi registrada com segurança. Anote seu código de acompanhamento.</p>
  </div>
</div><section class="section">
    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="p-5 rounded-3 shadow-sm">
            <h2 class="alert-heading">Sua denúncia foi registrada!</h2>
            <p class="lead mt-3">Utilize o código abaixo para acompanhar o status. Guarde-o em um local seguro, pois ele não poderá ser recuperado.</p>
            <div class="card bg-white my-4">
                <div class="card-body">
                    <h3 class="font-weight-bold text-monospace text-dark">{{ codigo }}</h3>
                </div>
            </div>
            <a href="{% url 'consultar_denuncia' %}" class="btn btn-info mt-3">Acompanhar Denúncia Agora</a>
        </div>
    </div>
</section>
{% endblock %}